*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron{
    background: url("/image/background-jumbotron.png") no-repeat center center;
    background-size: 100% 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    .container{
        align-self: center;
        .column{
            display: flex;
            justify-content: center;
            align-content: center;
            .detail{
                align-self: center;
            }
        }

    }
}

.logo{
    height: 200px;
    width: 200px;
}
