body, html{
    height: 100%;
}

.background{
    height: 100%;
    background: url("/image/background-jumbotron.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    .login{
        width: 40%;
        padding: 30px;
        background-color: rgba($color: white, $alpha: 0.7);
        border-radius: 20px;
        align-self: center;
        display: flex;
        flex-direction: column;
        form{
            display: flex;
            flex-direction: column;
            .component{
                margin-top: 20px;

            }
            .login-button{
                display: flex;
                justify-content: center;
                align-content: center;
            }
            .button{
                width: 30%;
                align-self: center;
            }
        }
        h4{
            margin-top: 30px;
        }
        .button{
            border-radius: 10px;
            width: 100%;
            align-self: center;
        }
    }
}
