body, html{
    height: 100%;
}

main{
    min-height: 100%;
    .container{
        padding-top: 100px;
    }
}

.image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 20% 10%;
    border: 5px solid black;
}
